.stat_box {
  display: none;
}

.stat_box_content {
  @include statbox;
}


@media #{$minMD} {
  .stat_box {
    position: relative;
    display: block;
    height: $gutter * 2;
  }

  .stat_box_content {
    position: absolute;
  }
}
