.hero_wrapper {
  position: relative;
  z-index: 0;
  padding-top: $headerHeight;
}


.hero_carousel {
  height: 100vh;

  .hero {
    &,
    .owl-stage-outer,
    .owl-stage,
    .owl-item,
    .hero_item,
    .hero_image {
      height: 100%;
    }
  }

  .owl-carousel .owl-item img {
    height: 100%;
    width: auto;
  }
}

.hero_scroll {
    width: 100%;
    position: absolute;
    bottom: 50px;
    z-index: 2;

    display: block;
    text-shadow: 0px 0px 1px rgba($black, .2);

    a {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      color: $white;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .05em;
    }

    svg {
      width: 100px;
      fill: currentColor;
      margin-top: 10px;
    }
}

.hero_item {
  position: relative;
}

.hero_item_sm {
  position: relative;
  @media #{$minMD} {
    max-height: 313px;
    overflow: hidden;
  }
}

.hero_item_sm_inner {
  &.bg {
    @media #{$minMD} {
      height:214px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      figure {
        @include visually_hide;
      }
    }

    @media #{$minLG} {
      height: 313px;
    }
  }
}

.hero_image {
  position: relative;
  z-index: 0;

  img {
    @include img_block;
  }
}

.hero_content {
  width: 100%;

  position: absolute;
  left: 0;
  bottom: 150px;
  margin: 0;

}

.hero_copy {
  width: 100%;

  position: relative;

  background: $red;
  color: $white;
  font-size: 24px;
  margin-bottom: 10px;
  padding: $gutter;

  @media #{$minMD} {
    background: rgba($red,0.75);
  }

  @media #{$minLG} {
    //left: $gutter * -1;
    box-sizing: content-box;
    font-size: 36px;
  }
}

.hero_cta {
  @include btn_reverse;
  @include fw_reg;

  @media #{$minLG} {
    position: relative;
    //left: $gutter * -1;
  }
}
