// Case Studies case_study_listing
.case_studies_grid {}

.case_studies_list {
  margin: 75px 0;
  &.case_studies_list_right {
    transform: translateX($gutter * -1);

    @media #{$maxMD} {
      margin-top: 0;
      transform: translateX(0);
    }
  }
}

.case_study {
  line-height: 1.4em;
  margin-bottom: 40px;

  @media #{$minLG} {
    width: calc(100% + #{$gutter});
  }

  a {
    display: block;
    color: $black;

    &:hover {
      color: $red;
    }
  }

  h2 {
    @include fw_reg;
    font-size: 18px;
  }
}

.case_study_figure {
  margin-bottom: 15px;

  img {
    @include img_block;
  }
}

.case_study_terms {
  list-style: none;

  li {
    @include term;
    display: inline-block;

    &:after {
      content: ", ";
    }

    &:last-child:after {
      content: "";
    }
  }
}

// Case Studies Single
.case_study_term {
  @include term;
}

.case_study_blurb {
  p {
    @include paragraph;
  }
}

.case_study_hero {
  figure {
    max-height: 400px;
    overflow: hidden;
  }

  img {
    @include img_block;
  }
}

.case_study_right {
  display: flex;
  flex-direction: column;

  @media #{$minSM} {
    align-items: flex-end;
  }

  > * {
    order: 2;
  }
}

.case_study_right_images {
  a {
    display: block;

    + a {
      margin-top: $gutter;
    }
  }
  img {
    @include img_block;
  }
}

.case_study_stat {
  @include statbox;

  margin-top: -53px;
  margin-left: $gutter;
  margin-right: $gutter;
}

.case_study_nav {
  @include nextprev;
  margin: 27px 0;
}

@media #{$minMD} {
  .case_study_stat {
    margin-right: $gutter * -1;
  }

  .case_study_nav {
    order: 1
  }
}


.client_list {
  margin: 75px 0;

  @media #{$minXL} {
    margin: 90px 0;
  }

  h2 {
    @include h3;
    color: $red;
  }

  ul {
    list-style: none;

    @media #{$minMD} {
      column-count: 2;
      column-gap: $gutter * 2;
    }

    @media #{$minLG} {
      column-count: 3;
    }
  }

  li {
    border-bottom: 1px solid $gray_1;
    break-inside: avoid;
    color: $gray_9;
    padding: 10px 0;
  }
}
