/* GRID */
$columns: 11;
$columnsMD: 4;
$columnsSM: 2;
$gutter: 20px;
$max-width: 1140px;

.row {
  max-width: $max-width;

  display: grid;
  grid-template-columns: repeat($columns, [col-start] 1fr);
  grid-column-gap: $gutter;

  margin: auto;
  padding: 0 $gutter / 2;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    grid-column: auto / span $i;
  }
}

.row {
  div:first-child {
    background: #999;
  }

    div:last-child {
      background: #CCC;
    }
}


// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout
