/* GRID */
$columns: 11;
$gutter: 20px;
$max-width: 1140px;

.row {
  max-width: $max-width;
  display: flex;
  margin: auto;
}

.col {
  padding: 0 $gutter;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: ($i / $columns) * 1%;
  }
}
