.header {
  background: $red;
}

.header_logo {
  font-size: 24px;
  line-height: 1em;

  a {
    height: 70px;

    display: flex;
    align-items: center;

    color: $white;

    &:hover {
      opacity: 0.7;
    }
  }

  svg {
    width: 36px;
    height: 42px;
    margin-right: 14px;
  }

  span {

  }
}


.header_nav_button {
  width: 70px;
  height: 70px;

  position: relative;

  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999999px;
  z-index: 10;

  span,
  &:before,
  &:after {
    width: 30px;
    height: 2px;

    position: absolute;
    top: 34px;
    right: 0;

    content: "";
    background: $white;
    transition: all $speed;
  }

  &:before {
    transform: translateY(-9px);
  }

  &:after {
    transform: translateY(9px);
  }

  .menu_open & {

  }
}
