@mixin visually_hide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin img_block {
  width: 100%;
  height: auto;
  display: block;
}

// Buttons
@mixin btn_base {
  @include fw_light;
  @include letterspace(1);
  display: inline-block;
  font-size: 18px;
  padding: 14px $gutter;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3;
}

@mixin btn {
  
}

@mixin btn_reverse {
  @include btn_base;
  background: rgba($red,0.9);
  color: $white;

  &:hover {
    background: rgba($red,0.6);
  }
}
