@mixin visually_hide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin clearfix {
  &:after {
    height: 0;

    clear: both;
    content: "";
    display: table;
  }
}

@mixin img_block {
  width: 100%;
  height: auto;
  display: block;
}

// Buttons
@mixin btn_base($p: 1) {
  @include fw_light;
  @include letterspace(1);
  border: 2px solid $red;
  display: inline-block;
  font-size: 18px;
  padding: 14px $gutter * $p;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3;
}

@mixin btn($p: 1)  {
  @include btn_base($p);
  color: $red;

  &:hover {
    background: $red;
    color: $white;
  }
}

@mixin btn_reverse($p: 1) {
  @include btn_base($p);
  background: rgba($red,0.9);
  color: $white;

  &:hover {
    background: $white;
    border: 2px solid $white;
    color: $red;
  }
}
