* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all $speed;
}

.page_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > main {
    flex-grow: 1;
  }
}
