.testimonial {
  background: $gray_0;
  padding: 45px 0;

  h2 {
    @include h2;
  }

  blockquote {
    @include quote;
    @media #{$minMD} {
      padding-right: $gutter;
    }
  }

  cite {
    @include cite;
  }

  .testimonial_cta {
    @include btn(2);
  }
}
