$speed: 0.3s;

// Colors
$red: #C20000;
$red_dk: #8F0000;

$white: #FFFFFF;
$black: #000000;

// Font Weights
$light: 300;
$normal: 400;
$bold: 700;

// Media Queries\
$minSM: "screen and (min-width: 426px)";
$minMD: "screen and (min-width: 769px)";
$minLG: "screen and (min-width: 1025px)";
$minXL: "screen and (min-width: 1440px)";

$maxSM: "screen and (max-width: 425px)";
$maxMD: "screen and (max-width: 768px)";
$maxLG: "screen and (max-width: 1024px)";
$maxXL: "screen and (max-width: 1439px)";

$headerHeight: 70px;
